<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>equiv.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>qparse.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>schemas.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3205BCA31DDC92CD005ADC89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3205BCB81DDC938D005ADC89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>324E4EBA1D9FC3B000114F39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32E7120A1DDDB13F00FC1D64</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
